:root {
    --dark: 35, 9, 104;
    --background: rgb(150,150,150);
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

body {
    color: rgb(var(--dark));
    background: var(--background);
}

header {
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
}

pre {
    background-image: linear-gradient(
        rgba(var(--dark), 1) 0%,
        rgba(var(--dark), .3) 100%
        /* rgba(35, 9, 104, 1) 0%,
        rgba(35, 9, 104, .3) 100% */
    );
    user-select: all;
    color: #fff;
    padding: 5px;
    border-radius: 8px;
}
footer {
    text-align: center;
}

.code-card {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 31.33%;
    border: 1px rgb(60, 60, 60) solid;
    text-align: center;
    align-items: center;
    margin: 15px 1%;
    border-radius: 8px
}

.card-header {
    position: relative;
    margin-top: -20px;
    background-color: var(--background);
    width: 80%;
    border: 1px rgb(60,60,60) solid;
    border-radius: 8px;
}

.code-card,
.card-header {
    transition: all 0.5s ease-in-out;
}

.code-card:hover,
.code-card:hover .card-header {
     box-shadow: inset 0px 0px 8px rgb(var(--dark));

}
   

@media screen and (max-width: 992px){
    .code-card {
        width: 48%;
    }

}



@media screen and (max-width: 768px) {
    .code-card {
        width: 98%;
        height: 33.33%;
    }
    
}