@media screen (max-width: 992px){

}



@media screen (max-width: 768px) {}
.linear-gradient-background {
    background-color: purple;
} 
.row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}